@import 'variables'

html body
    background-color: $backgroundColor
    padding-top: $headerHeight

    .themeText
        color: $contractorsGarageOrange

    .themeBackground
        background-color: $contractorsGarageOrange

    .gunMetalText
        color: $gunMetalGrey

    .gunMetalBackground
        background-color: $gunMetalGrey