@import 'variables'
    
.Home
    .Carousel
        height: calc(100vh - #{$headerHeight})
        > div > div > ul
            cursor: default

        img
            transition: transform 5s linear
            transform: scale(1)

        li[aria-live]
            img
                transform: scale(1.2)
                
