@import 'variables'

.DevelopmentServices
    .landingSection
        h1
            letter-spacing: 10px
        .CompanyLogo
            height: 100px

    .insightBox
        border: 2px solid $gunMetalGrey
